.helplineBar {
    border: 1px solid #e0e0e0;
    background: #fff;
    border-radius: 2px;
    margin-bottom: 30px;
    padding:15px;
}

.alignRight {
    position: absolute;
    right: 10px;
}